:root {
  --nav-color: #626262;
  --body-color: #000000;
  --button-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--body-color);
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
}
h1 {
  color: #ffffff;
  padding: 10px;
}

h3 {
  color: #ffffff;
  padding: 10px;
}

nav {
  background-color: var(--nav-color);
  height: auto;
  width: 100%;
  padding: 5px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  padding: 10px;
  text-align: center;
}
a:link {
  color: #ffffff;
}
a:visited {
  color: #6a00ff;
}
a:hover {
  color: #ffffff;
}

li {
  margin-bottom: 10px;
}

button {
  width: auto;
  margin-top: 2px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--button-color);
  color: #5eff00;
  border-color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  cursor: crosshair;
}

.exercises {
  margin: 10px;
}
#pt1-script {
  width: 200px;
  height: 50px;
  background: white;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
}

#pt2-integers {
  padding: 10px;
}

#pt3-jquery {
  padding: 10px;
}

input {
  margin-bottom: 10px;
  width: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
